
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>安装使用协议 - <?=$config['siteName']?>安装</title>
    <?php require_once ('step-base.html');?>
</head>
<body>
<div class="layui-container">

    <h1 class="install-h1"><?=$config['siteName']?> 开始安装</h1>
    <?php if(is_file($lockFile)):?>
    <div class="layui-error">
        当前已经安装<?=$config['siteName']?>，如果需要重新安装，请手动删除install/install.lock文件
    </div>
    <?php endif;?>
    <blockquote class="layui-elem-quote">
        <h1>安装协议</h1>
        <p>感谢您使用<?=$config['siteName']?>，以下简称【<?=$config['siteName']?>】</p>
        <p>接受本协议才可以继续安装使用【<?=$config['siteName']?>】</p>
        <p>安享云商城系统</p>
        <p style="margin-top: 20px;font-size: 18px;">协议细则：</p>
        <div class="protocol">
            <h3><?=$config['siteName']?> 系列产品许可协议</h3>
            <p>欢迎使用<?=$config['siteName']?>系列产品。以下条款和条件构成您与<?=$config['siteName']?>就软件使用许可所达成的协议。</p>
            <p>用户安装和使用此产品，即意味着同意以下条款和条件。</p>
            <h4>1、知识产权声明</h4>
            <p>1.1、受国家计算机软件著作权保护，不得恶意使用产品源代码、转售等，违者必究。</p>
            <h4>2、用户使用许可授权范围</h4>
            <p>
2.1 本团队将本系统的商业版提供给授权用户，同时提供本系统的安装说明、使用说明等文档，授权网站和用户依法享有本系统的使用权。用户可以在一个授权域名下自由安装、使用、显示、运行本系统。
</p>
<p>
2.2 本系统根据用户实际需求提供服务，比如系统安装、下载。本服务是按照现有技术和条件所能达到的现状提供的，本团队会尽最大努力为您提供服务，确保服务的连贯性和安全性；但本团队不能随时预见和防范法律、技术以及其他风险，包括但不限于不可抗力、病毒、木马、黑客攻击、系统不稳定、第三方服务瑕疵、政府行为等原因可能导致的服务中断、数据丢失以及其他的损失和风险。对于任何用户信息或个人化设定之时效、删除、传递错误、未予储存或其他任何问题，本团队均不承担任何责任。本团队保留有权不经事先通知为升级或其他目的暂停本服务全部或任何部分。
</p>
<p>
2.3 请您理解，本系统仅提供相关的开发、下载、安装、升级等服务，除此之外与相关网络服务有关的设备（如服务器、域名、及其他与网站建设有关的装置）及所需的费用均应由用户自行负担。</u></b>
</p>
<p>
2.4 您理解并同意，除本服务协议另有规定外，<b><u>鉴于网络服务的特殊性，本团队有可能变更、中断或终止部分或全部的网络服务，本团队无需为此承担责任，但应尽可能事先进行通知您，并尽可能给您预留时间以便处理相关权益。</u></b>
</p>
<p>
2.5 保留权利：未明示授权的其他一切权利均由本团队所有。
</p>
            <h4>3、插件协议</h4>
            <p>3.1、<?=$config['siteName']?> 付费插件标准授权(基础授权)仅限用于个人或企业自营网站或应用，禁止用于外包或定制软件，禁止二次转售插件源码。</p>
            <p>3.2、<?=$config['siteName']?>付费插件高级授权可用于个人或企业自营网站或应用或为客户定制开发，禁止二次转售插件源码。</p>
            <p>3.3、<?=$config['siteName']?> 付费插件标准授权有效期内可通过补差价的形式升级至高级授权，高级授权不可以降至标准授权。</p>
            <h4>4、权利与义务</h4>
            <p>4.1、<?=$config['siteName']?>提供用户免费使用,不得对本软件进行恶意分发、恶意出售、倒卖;也不得将本软件用于非法用途（包括但不限于赌博、色情、等或类似功能的网站）。</p>
            <p>4.2、不能对<?=$config['siteName']?>系统改了源码头部版权，改掉LOGO,就对外宣称是自己独立研发的产品。这样是绝对不允许的。</p>
            <p>4.2、对于建站公司提供的有偿服务，有义务告知对方是基于<?=$config['siteName']?>系统开发的。</p>
            <p>4.3、用户将在享有上述条款授予的权力的同时，受到相关的约束和限制。协议许可范围以外的行为，将直接违反本授权协议并构成侵权，我们有权随时终止授权，责令停止损害，并保留追究相关责任的权力。</p>
            <h4>5、<?=$config['siteName']?>免责声明</h4>
            <p>5.1、<?=$config['siteName']?>仅为一款方便开发者构建各类应用的管理框架，本身不包含任何非法的功能，欢迎广大授权者进行监督。</p>
            <p>5.2、用户利用本软件发生的商业行为均由用户自行负责，利用本软件进行商业行为所产生的一切纠纷均与<?=$config['siteName']?>无关。</p>
            <p>5.3、用户在软件升级前用户应自行备份数据，升级过程中造成的用户数据丢失的<?=$config['siteName']?>不承担责任。</p>
            <p>5.4、<?=$config['siteName']?>不对因软件使用错误、软件错误等问题所引起的用户损失而承担任何责任，但<?=$config['siteName']?>将尽量避免此类情况的发生。</p>
            <p>5.6、使用<?=$config['siteName']?>用户构建的任何项目和应用，其中包含的信息内容和服务内容（包括但不限于文字、图片、视频等文件以及源代码、平台规则、平台运营模式等）以及任何可能导致的法律风险，与<?=$config['siteName']?>官方无关，即该风险全部由开发者负责承担。</p>
            <p>5.7、用户出于自愿而使用本软件，您必须了解使用本软件的风险，软件完全免费且开源，我们不承诺提供任何形式的技术支持、使用担保，也不承担任何因使用本软件而产生问题的相关责任。</p>
            <p>5.8、您一旦选择下载安装或使用<?=$config['siteName']?>，即被视为完全理解并接受本协议的各项条款和告知，在享有上述条款授予权力的同时，也受到相关的约束和限制。</p>
            <span>本项目包含的第三方源码和二进制文件之版权信息另行标注。</span>
            <span><?=$config['siteName']?>拥有最终解释权，任何站点使用本软件则表示默认接受此协议。</span>
        </div>
    </blockquote>
    <div class="btn-box">
        <a class="layui-btn layui-btn-warm layui-btn-radius" href="javascript:;">拒绝</a>
        <a class="layui-btn agree layui-btn-danger layui-btn-radius" data-href="./index.php?s=step2">同意</a>
    </div>
</div>
</body>
</html>
<script>
    layui.use('layer',function(){
        layer = layui.layer;$ = layui.$;
        $(document).on("click",'.agree',function(){
            _that = $(this);
            if(msg){
                layer.msg(msg)
                return false;
            }else{
                window.location.href =  _that.data('href');
            }
        })
    })
</script>